
{% load static %}

{% block title %}Reg Success{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'myapp/resetpassword.css' %}"> 
{% endblock %}
{% block content %}
<div class="container">
    <h2>Set New Password</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update Password</button>
    </form>
</div>
{% endblock %}
